.nav-main {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  height: 100px;
  align-items: center;
  background-color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left span {
  font-size: 30px;
  font-weight: 600;
}

.nav-left h2 {
  margin: 0;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #122620;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right img {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  margin-right: 20px; 
}

.nav-right h4 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #122620;
  cursor: pointer;
}
